/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    justify-content: center;
    align-items: center;
    color: #ffffff;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Contenedores */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box, .register-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Input y botones */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input ,
.input-group select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.btn {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover {
    background-color: #ff4500;
}

/* Header */
header {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    text-align: center;
}

nav h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffcc00;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffffff;
}

/* Contenido de bienvenida */
.welcome-container {
    text-align: center;
    margin-top: 50px;
}

.welcome-container h2 {
    font-size: 28px;
}

.welcome-container p {
    font-size: 18px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.registro-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}
.registro-container h2 {
    margin-bottom: 20px;
    color: #333;
}
.btn-registrar {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.btn-registrar:hover {
    background-color: #0056b3;
}